@page "/CbList"  
@using BlazorComponents.Pages
@inherits CbListBase  
    <div class="col-12">  
        <h3><b>Notes Chords Music</b></h3>  
        <hr />  
        <div class="col-12 row">  
            <CheckBoxList Data="@ScaleList"  
                          TextField="@((item)=>item.NoteId)"
                          ValueField="@((item)=>item.NoteId)"
                          SelectedValues="@SelectedIds" />  
        </div>  
        
        <div class="col-12 row"> 
            <br />
            <br />
            <b>@OutPutValue</b>  
        </div>  
        <br />  
        <div>   
            <button type="button" class="btn btn-primary btn-lg" 
            @onclick="ShowSelectedValues">Select Notes</button>  
        </div>     
    </div>
